body {
  background-color: aquamarine;
}

main{
  display: flex;
}

main p{
  font-weight: 700;
}
main>div:first-of-type{
  min-width: 18.50rem;
  max-width: 18.50rem;
}
main>div:nth-of-type(2){
  min-width: 50rem;
}
main>div>div>div{
  display: flex;
}
main>div>div>div>div{
  font-size: 3rem;
  text-align: center;
  background-color: white;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  margin: 0 2rem;
}
#victoriesP1,
#victoriesP2{
  background-color: gold;
  color: brown;
}
.playerName{
  border-radius: 0;
  background-color: transparent;
}

#section1 {
  background-color: darkgreen;
  margin: 1.25rem;
  display: flex;
  justify-content: center;
}

#board{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.squares{
  display: flex;
  background-color: white;
  width: 3.125rem;
  height: 3.125rem;
  margin: 0.125rem;
  font-size: 1.875rem;
  transition: 500ms;
  line-height: 3.125rem;
  text-align: center;
  border: 0.125rem solid black;
}
#win{
  position: absolute;
  top: 9.25rem;
  color: red;
  font-size: 3rem;
  font-weight: 700;
}

#diceButton {
  background-color: transparent;
  border: none;
  width: 8rem;
  height: 8rem;
  text-align: center;
  align-self: center;
  position: absolute;
  cursor: pointer;
  box-shadow: 2px 2px #303030;
}
#diceButton:active {
  box-shadow: 1px 1px #303030;
}
#diceButton:hover {
  opacity: 0.98;
}

header button,
#resetTheGame{
  border-radius: 6px;
  background-color: #ffa500;
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 0.25rem 1rem;
  transition: 150ms;
  border: none;
  text-align: center;
}
header button:hover,
#resetTheGame:hover{
  background-color: #fdc45b;
  cursor: pointer;
}
#settings{
  display: flex;
  justify-content: space-between;
}
#settings>div{
  display: flex;
  align-items: center;
  margin: 0 1rem;
}
#settings button{
  background-color: white;
  border: none;
  border-radius: 6px;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
  padding: 0;
  cursor: pointer;
  box-shadow: 1px 1px #acacac;
}
#settings button:hover{
  background-color: #87cefa;
}
#settings button:active{
  box-shadow: 0px 0px #acacac;
  background-color: #71beff;
}
#settings>div>p:nth-of-type(2){
  margin: 0 0.25rem;
  color: blue;
  font-size: 2rem;
  
}
@media only screen and (max-width: 800px) {
  :root{
    font-size: 12px;
  }
  main{
    flex-direction: column;
  }
  main>div:first-of-type{
    display: flex;
    min-width: none;
    max-width: none;
  }
}
@media only screen and (max-width: 375px) {
  :root{
    font-size: 8px;
  }
  main{
    flex-direction: column;
  }
  main>div:first-of-type{
    display: flex;
    min-width: none;
    max-width: none;
  }
}