#root{
  display: flex;
}
ul{
  padding: 0;
  background-color: lightgreen;
  width: 10rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
li{
  list-style: none;
  text-align: center;
}
button{
  width: 5rem;
  cursor: pointer;
}
section:first-of-type{
  background-color: lightblue;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
}
section:nth-of-type(2){
  background-color: pink;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
}
section:nth-of-type(2) h3{
  cursor: pointer;
}