body {
    background-color: olive;
}

section {
    background-color: red;
    width: 95vw;
    height: 40vh;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

div {
    background-color: beige;
    width: 30vw;
    height: 30vh;
    margin-top: 20px;
    padding: 20px;
}